<% @posts.each do |post| %>
  <div>
    <p>
      <span><%= post.user.nickname %>：</span>
      <%= post.text %>
      <%= link_to "SHOW", "/miniblog/#{post.id}" %>
      <% if user_signed_in? && current_user.id == post.user_id %>
        <%= link_to "EDIT", "/miniblog/#{post.id}/edit" %>
        <%= link_to "DELETE", "/miniblog/#{post.id}", method: :delete %>
      <% end %>
    </p>
  </div>
<% end %>
